<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
 <div class="content-wrapper" th:fragment="content">
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <h3 class="page-header">About Biarca</h3>
      <h3 class="page-header">We Help IT Enable Cloud Computing in the Enterprise</h3>
      <p>The world of enterprise IT is in dramatic transition. Cloud computing is redefining the
        way IT services are delivered at every level from how applications are developed and
        deployed, to the underlying software and hardware infrastructure layers. Cloud Computing is
        both an opportunity and a threat to every business. Agility and operational efficiency are
        paramount. IT organizations have to meet the primary needs of the business, and also find
        ways to reimagine the organization and infrastructure to meet new market and operational
        demands.</p>
      <p>Some organizations are turning to Public Clouds to deliver agility, flexibility and
        scalability. In this model, there is no need for up-front investment, and you pay as you go.
        The down side is that the on-going expenses can exceed the cost of on premise infrastructure
        within a relatively short period. Users must also relinquish control over where data
        resides, and peak hour usage can have performance and outage ramifications.</p>
      <p>A private cloud that is designed around "Open" standards and technologies can provide
        all the benefits of cloud computing without the downside risks. In this context, a public
        cloud could supplement the private cloud resources for cloud bursting.</p>
      <p>Biarca can help. We are a leading edge Professional services company that helps
        enterprises transform IT processes and infrastructures into strategic advantage. Our
        services help organizations architect and deploy private cloud implementations designed
        around leading Open Source cloud platforms like OpenStack, Cloud Foundry and Docker /
        Containers and Hadoop.</p>
      <p>Biarca offers a collaborative approach to helping IT organizations strategically
        prioritize and implement IT initiatives so that IT operations will be more agile, and
        efficient. We help maintain existing investments in line of business applications while
        modernizing and aligning them to meet the needs for today and the future. We harness the
        power of the leading Cloud Open Source software platforms best ideas, practices and proven
        methodologies and apply them for our customers' benefit.</p>
    </section>
  <!-- Main content -->
  <section class="content">
  <!-- Your Page Content Here -->
  </section>
  <!-- /.content -->
  <div th:field="*{error}"></div>
 </div>
</body>
</html>